{{extend 'centered.html'}}

<form name=main method=POST enctype="multipart/form-data">

<a href="http://code.google.com/p/booleannet/"><img src="{{=URL(r=request, c="static", f="images")}}/Boole.jpg"/></a>
<br/>

<div id=Import>
   <table>
	<tr>
		<td>Upload your <a href='http://code.google.com/p/booleannet/'>BooleanNet</a> formated file:</td>
		<td><input type=file name=File onChange="submit();"/></td>
	</tr>
	<tr>
		<td>Or choose a network on the server:</td>
		<td>
			<select name=Model>
{{for model in Models:}}				<option value="{{=model}}">{{=model}}</option>{{pass}}
			</select>
		</td>
	</tr>
	<tr>
		<td>Available scenarios:</td>
		<td>
			<select name=Scenarios>
{{for model in Scenarios:}}				<option value="{{=model}}">{{=model}}</option>{{pass}}
			</select>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><input type=submit value=Load />
	</tr>
	<!--tr>
		<td>Layouter:</td>
		<td>
		<select name=Layouter>
			<option value="None">Don't Layout</option>
			<option value="ask">Ask me later</option>
			<option value="biographer">biographer (native Layouter)</option>
			<option value="graphviz" selected>graphviz</option>
		</select>
		</td>
	</tr-->
   </table>
<br/>
Hint: The UI currently doesn't work with the BNS, so the layouter cannot be chosen. graphviz only.
</div>

<br/>

</form>

