#tabs {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  border: none;
}
.tabs {
  padding: 0px !important;
  background-color:white !important;
}

#iteration{
  position: absolute;
  top: 10px;
  left: 5px;
}

#progress{
  position: absolute;
  top: 4px;
}

#importDialog {
  font-size: 14px;
}

#dropFile{
  width: 40%;
  height: 50px;
  border: solid black 1px;
  text-align: center;
  margin: 10px;
}
#dropFile span {
  position: relative;
  top:15px;
}

#file {
  float: right;
  width: 50%;
  margin: 10px;
  position: relative;
  top: 15px;
}

#options {
  margin: 10px;
}

#fileType {
  width: 50%;
}
#seed {
  float:right;
  width: 50%;
}

#importFile {
  position:relative;
  margin: 10px;
  left:40%;
}
