#tabs {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  border: none;
}

.tabs {
  padding: 0px !important;
  background-color:white !important;
}

#plot {
  width: 100%;
  height: 100%;
}

#plot > div {
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  margin: 10px;
}

#y {
  width: 40px;
}
#legend {
  width: 100px;
}

#importButton {
  margin-left: 20px;
}

#zoom {
  float: right;
  margin: 10px;
  width: 200px;
}

#info {
  position:fixed;
  top: 60px;
  right: 20px;
  padding: 10px;
  max-width: 30%;
  word-wrap: break-word;
  background-color: lightblue;
  border: solid blue 1px;
  font-size: 12px;
}

#iteration{
  position: absolute;
  top: 10px;
  left: 5px;
}

#progress{
  position: absolute;
  top: 4px;
}

#importDialog, #exportDialog, #editDialog {
  font-size: 14px;
}

#dropFile{
  width: 40%;
  height: 50px;
  border: solid black 1px;
  text-align: center;
  margin: 10px;
}
#dropFile span {
  position: relative;
  top:15px;
}

#file {
  float: right;
  width: 50%;
  margin: 10px;
  position: relative;
  top: 15px;
}

#fileType, #graph {
  width: 50%;
}
#seed, #format {
  float: right;
  width: 50%;
}

#options {
  margin: 10px;
}

#scale {
  margin-left: 30px;
}

#importFile, #exportFile, #editButton {
  position:relative;
  margin: 10px;
  margin-top: 20px;
  left:40%;
}

#rule {
  width: 100%;
}
