{{extend 'layout.html'}}

<style>
	#canvas			{
				border:		1pt solid #000;
				position:	absolute;
				top:		10%;
				left:		0px;
				right:		0px;
				bottom:		0px;
				overflow:	scroll;
				}
	#ZoomMenu		{
				border:		1px solid gray;
				position:	absolute;
				right:		5px;
				top:		2%;
				background:	transparent;
				padding:	10px;
				margin:		5px;
				}
</style>

<script>
	function zoom(difference) {
		currentZoomLevel = graph.scale();
		newZoomLevel = currentZoomLevel + difference;
		if ( newZoomLevel > 0 && newZoomLevel <= 1 ) graph.scale(newZoomLevel);
		}

	function handle(delta) {
		if (delta < 0)
			zoom(-0.01);
		else
			zoom(+0.01);
	}

	function wheel(event){
		var delta = 0;
		if (!event) event = window.event;
		if (event.wheelDelta) {
			delta = event.wheelDelta/120; 
		} else if (event.detail) {
			delta = -event.detail/3;
		}
		if (delta)
			handle(delta);
		if (event.preventDefault)
		        event.preventDefault();
		event.returnValue = false;
	}

	if (window.addEventListener)
		window.addEventListener('DOMMouseScroll', wheel, false);
	window.onmousewheel = document.onmousewheel = wheel;
</script>

<div id=canvas>
	<small>Click edges to add handles. Ctrl+Click nodes to move and resize. Use mouse wheel to zoom.</small> 
</div>

<div id=ZoomMenu>
	Zoom: 
	<input type=button value="+" onClick="zoom(+0.2);"/>
	<input type=button value="O" onClick="graph.scale(1);"/>
	<input type=button value="-" onClick="zoom(-0.2);"/>
</div>

<link rel="stylesheet" type="text/css" href="{{ = URL(r=request, c='static', f='Visualization') }}/css/visualization-html.css" />
<link rel="stylesheet" type="text/css" href="{{ = URL(r=request, c='static', f='Visualization') }}/css/jquery-ui-1.8.13.css" />

<script type="text/javascript" src="{{ = URL(r=request, c='static', f='Visualization') }}/js/jquery-1.6.min.js"></script>
<script type="text/javascript" src="{{ = URL(r=request, c='static', f='Visualization') }}/js/jquery.simulate.js"></script>
<script type="text/javascript" src="{{ = URL(r=request, c='static', f='Visualization') }}/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript" src="{{ = URL(r=request, c='static', f='Visualization') }}/js/biographer-ui.js"></script>

<script type="text/javascript">
	if (Object === undefined || Object.create === undefined) $("#BrowserNotSupported").show();

	var network = {{ = XML(network) }};

	bui.ready(function() {
            var canvas = document.getElementById('canvas');
            graph = new bui.Graph(canvas);
            bui.importFromJSON(graph, network);
        });

	graph.scale(0.5);
</script>

<br/>
<br/>
