<style>
	#menubar			{
					position:		absolute;
					left:			20%;
					height:			30px;
					top:			1%;
					}
	#menubar a			{
					text-decoration:	none;
					color:			blue;
					width:			100%;
					padding:		3px;
					margin:			3px;
					}
	#menubar a:hover		{
					text-decoration:	none;
					background:		#8caed4;
					}

	div.spacer			{
					position:		relative;
					width:			auto;
					height:			30px;
					float:			left;
					}
	div.dropdown			{
					border:			1px solid white;
					position:		absolute;
					z-index:		+1;
					width:			auto;
					height:			18px;
					overflow:		hidden;
					padding:		5px;
					text-align:		left;
					opacity:		1;
					float:			left;
					}
	div.dropdown:hover		{
					height:			auto;
					cursor:			pointer;
					background:		#eaeaea;
					border:			1px solid black;
					opacity:		1;
					}
</style>

<div id=menubar>
	<div class=spacer style="left:110px;">
		<div class=dropdown>
			<a href="{{=URL(r=request, c='UI', f='index')}}">UI</a><br/>
		</div>
	</div>

	<div class=spacer style="left:220px;">
		<div class=dropdown>
			Do layout<br/>
			<a href="{{=URL(r=request, c='Layout', f='internal')}}">biographer</a><br/>
			<a href="{{=URL(r=request, c='Layout', f='graphviz')}}">graphviz</a><br/>
		</div>
	</div>

	<div class=spacer style="left:330px;">
		<div class=dropdown>
			Import<br/>
			<a href="{{=URL(r=request, c='Import', f='JSON')}}">JSON</a><br/>
			<a href="{{=URL(r=request, c='Import', f='SBML')}}">SBML</a><br/>
			<a href="{{=URL(r=request, c='Import', f='BioModels')}}">BioModels.net</a><br/>
			<a href="{{=URL(r=request, c='Import', f='Reactome')}}">Reactome</a><br/>
			<a href="{{=URL(r=request, c='Import', f='BooleanNet')}}"><nobr>Boolean&nbsp;Network</nobr></a><br/>
		<!--	<a href="{{=URL(r=request, c='Import', f='ODP')}}">ODP</a><br/>
			<a href="{{=URL(r=request, c='BioPAX', f='importer')}}">BioPAX</a><br/>
			<a href="{{=URL(r=request, c='PID', f='importer')}}">PID</a><br/>
			<a href="{{=URL(r=request, c='BioCarta', f='importer')}}">BioCarta</a><br/>
			<a href={{=URL(r=request, c='PathVisio', f='importer')}}>PathVision</a><br/>
			<a href={{=URL(r=request, c='WikiPathways', f='importer')}}>WikiPathways</a><br/>	-->
		</div>
	</div>

	<div class=spacer style="left:470px;">
		<div class=dropdown>
			Export<br/>
			<a href="{{=URL(r=request, c='Export', f='JSON')}}">JSON</a><br/>
			<a href="{{=URL(r=request, c='Export', f='LayouterInput')}}"><nobr>Layouter&nbsp;input</nobr></a><br/>
			<a href="{{=URL(r=request, c='Export', f='LayouterOutput')}}"><nobr>Layouter&nbsp;output</nobr></a><br/>
			<a href="{{=URL(r=request, c='Export', f='dot')}}">dot</a><br/>

			<script>
				function Export(format)  {
					url = "{{=URL(r=request, c='Export', f='Picture')}}?format=jpeg&svg="
					svg = graph.rawSVG();
					document.location.href = url+svg;
					}
			</script>

			<a href="javascript:Export('jpeg');">JPEG</a><br/>
			<a href="javascript:Export('png');">PNG</a><br/>
			<a href="javascript:Export('pdf');">PDF</a><br/>
			<a href="javascript:Export('svg');">SVG</a><br/>
			<a href="javascript:Export('tiff');">TIFF</a><br/>
		</div>
	</div>
</div>

