{{extend 'content.html'}}

<style>
	#Controls		{
				border:			1px solid black;
				position:		absolute;
				top:			-10%;
				right:			1%;
				z-index:		+5;
				background-color:	white;
				opacity:		1;
				}

	#network		{
				border:			none;
				position:		absolute;
				top:			15%;
				left:			1%;
				width:			98%;
				height:			83%;
				}

</style>

<script>
	green = '#10d010';
	red = '#d01010';
	yellow = '#f4fd01';
	black = '#000000';
	blue = '#7474cf';

	active = green;
	inactive = 'white';
	cyclic_attraktor = '#f9f883';

	SimulationRunning = false;

	function installSVGonClickListeners() {
{{ = XML(onClickListeners) }}		
		}

	function PaintBoxes() {
//		var svg = document.network.getSVGDocument();
{{ = XML(paintBoxes) }}
		}

	function Reset() {
		document.getElementById('Progress').innerHTML = 'Resetting ...';
{{ = XML(resetRules) }}
		PaintBoxes();
		document.getElementById('Progress').innerHTML = 'Reset.';
		}

	function Iterate() {
		SimulationRunning = true;
		e = document.getElementById('Progress');
		if ( e.innerHTML.length > 30 || e.innerHTML.substr(0,9) != 'Iterating' )	e.innerHTML = 'Iterating ...'
											else	e.innerHTML = e.innerHTML+'.';
		steps = document.getElementById('Steps');
		steps.innerHTML = parseInt(steps.innerHTML)+1;
//		var svg = document.network.getSVGDocument();
{{ = XML(updateRules) }}
		if ( {{ = XML(checkSteadyState) }} ) {	// network updated -> steady state not reached
{{ = XML(shiftRules) }}
			PaintBoxes();
			try { delay=parseInt(document.getElementById('Delay').value); }
			catch(err) { delay=120; };
			window.setTimeout('Iterate();', delay)
			}
		else 	{	// no changes -> steady state
			PaintBoxes();
			e.innerHTML = 'Boolean network reached steady state.';
			SimulationRunning = false;
			}
		}

	function NodeClicked() { // you shouldn't need to know which one,
				 // since if there is something to do with this node,
				 // it shall be done from inside the SVG
		document.getElementById('Progress').innerHTML = 'Changing node ...';

		PaintBoxes();

		// start Simulation, if it's not running already
		if ( ! SimulationRunning ) {
			document.getElementById('Steps').innerHTML = 0;
			Iterate();
			}

		document.getElementById('Progress').innerHTML = 'Changed.';
		}

	function selectScenario(event) {
		try { delay=parseInt(document.getElementById('Delay').value); }
		catch(err) { delay=120; };
		window.setTimeout(event.srcElement.options[event.srcElement.selectedIndex].value, delay);
		}

{{ = XML(ScenarioFunctions) }}

	function refreshSVG() {
		document.network.style.visibility = "hidden";
		document.network.style.visibility = "visible";
		}

	function colorifyAttractorEdge(node1, node2) {
		path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
		path.setAttributeNS(null, 'style', 'fill:none; stroke:#f9f883; stroke-width:80; stroke-linecap:round; opacity:0.5;');
		x1 = svg.getElementById(node1).cx.baseVal.value;
		y1 = svg.getElementById(node1).cy.baseVal.value;
		x2 = svg.getElementById(node2).cx.baseVal.value;
		y2 = svg.getElementById(node2).cy.baseVal.value;
		path.setAttributeNS(null, 'd', 'M '+x1+','+y1+' '+x2+','+y2);
		svg.getElementById('graph1').insertBefore(path, node1);
		}

	function FindAttractors() {
		// query the server via XmlHttpRequest ... BooleanNet python simulation ...

//		polygon = document.createElementNS('http://www.w3.org/2000/svg', 'polygon');
//		polygon.setAttributeNS(null, 'fill', cyclic_attraktor);
//		polygon.setAttributeNS(null, 'points', '-1,1 -1,-100 100,-100 100,1 -1,1');

		colorifyAttractorEdge('Ras2', 'cAMP');
		colorifyAttractorEdge('cAMP', 'PKA');
		colorifyAttractorEdge('PKA', 'Ras2');
		refreshSVG();
		}

</script>

[ <a href="../Layout/graphviz">Redo layout</a> ], 
[ <a href="../Layout/graphviz_layout">Download DOT layout</a> ], 
[ <a href="../Export/JSON">Download JSON model</a> ], 
[ <a href="{{ = session.graphviz_image }}">Download picture</a> ]

<div id=Controls>
	&nbsp;Delay between iteration steps: <input id=Delay type=text value='100' style='width:50px; text-align:right;' /> ms
	<br/>

	<form name=main action="{{=URL(r=request, c='Import', f='BooleanNet')}}" method=POST enctype="multipart/form-data" style="display:inline;">
		&nbsp;Available networks:
		<select name=Model>
			<option selected></option>
{{for model in AvailableNetworks:}}			<option value="{{=model}}">{{=model}}</option>{{pass}}
		</select>
		<input type=hidden name=Layouter value=graphviz />
		<input type=submit value="Load network" />
		<br/>
	</form>

	&nbsp;Available scenarios:
	<select name=Scenario onChange="selectScenario(event);">
		<option value="null;" selected></option>
{{ = XML(ScenarioOptions) }}
	</select>
	<input type=button value="(Plot)" />
	<br/>

	<input type=button value="Reset state space" onClick="Reset();" />
	<br/>
	<input type=button value="Find attractors" onClick="FindAttractors();" />
	<br/>

	&nbsp;<label id='Progress' style='color:green; font-weight:bold;'></label>
	<label id='Steps' style='color:blue; font-weight:bold; float:right;'>0</label>
</div>

Click the nodes to change their respective state.
Press Ctrl when clicking to fix or unfix a node.
State-of-the-art browser required (Chrome or Firefox; not Internet Explorer).
SVG support required. JavaScript needs to be enabled.

<object type="image/svg+xml" name=network id=network data="{{ = session.graphviz_image }}" onLoad="svg=this.contentDocument; installSVGonClickListeners(); Reset(); Iterate();" ></object>
 
<script>
	function AutoLoad() {
		if ( document.getElementById('network').contentDocument == undefined ) document.main.submit();
		}

	window.setTimeout('AutoLoad();', 50);
//	window.setTimeout('', 400);
</script>

