{{extend 'content.html'}}

<style>
	#Controls		{
				border:			1px solid black;
				position:		absolute;
				top:			-10%;
				right:			1%;
				z-index:		+5;
				background-color:	white;
				opacity:		1;
				}

	#network		{
				border:			none;
				position:		absolute;
				top:			15%;
				left:			1%;
				width:			98%;
				height:			83%;
				}

</style>

<script>
	var green = '#10d010';
	var red = 'white'; //'#d01010';

	function PaintBoxes() {
		var network = document.network.getSVGDocument();
{{ = XML(updateBoxes) }}
		}

	function Reset() {
		document.getElementById('Progress').innerHTML = 'Resetting ...';
{{ = XML(reset) }}
		PaintBoxes();
		document.getElementById('Progress').innerHTML = 'Reset.';
		}

	function Iterate() {
		e = document.getElementById('Progress');
		if ( e.innerHTML.length > 30 || e.innerHTML.substr(0,9) != 'Iterating' )	e.innerHTML = 'Iterating ...'
											else	e.innerHTML = e.innerHTML+'.';
		steps = document.getElementById('Steps');
		steps.innerHTML = parseInt(steps.innerHTML)+1;
		var network = document.network.getSVGDocument();
{{ = XML(updateRules) }}
		if ( {{ = XML(checkSteadyState) }} ) {
{{ = XML(shiftRules) }}
			PaintBoxes();
			try { delay=parseInt(document.getElementById('Delay').value); }
			catch(err) { delay=120; };
			if ( document.getElementById('ContinuousIteration').checked == 1 )	window.setTimeout('Iterate();', delay);
											else 	e.innerHTML = 'Stopped.';
			}
		else 	{	// no changes -> steady state
			PaintBoxes();
			document.getElementById('ContinuousIteration').checked = false;
			e.innerHTML = 'Boolean network reached steady state.';
			}
		}

	function Stop() {
		document.getElementById('ContinuousIteration').checked = false;
		}

	function NodeClick(node) {
		document.getElementById('Progress').innerHTML = 'Changing node ...';
		PaintBoxes();
		document.getElementById('Progress').innerHTML = 'Changed.';

		//
		// if not iterating, start iterating again
		//
		if ( document.getElementById('ContinuousIteration').checked == 0 ) {
			document.getElementById('Steps').innerHTML = 0;
			document.getElementById('ContinuousIteration').checked = true;
			Iterate();
			}
		}

	function ChangeVisibility(event) {
		if ( event.srcElement.checked ) {
			value = 'visible';
			Iterate();
			}
		else	{
			value = 'hidden';
			Stop();
			}
		for (var i = 0; i < Boxes.length; i++) document.getElementById(Boxes[i]).style.visibility = value;
		}
</script>

[ <a href="../Layout/graphviz">Redo layout</a> ], 
[ <a href="../Layout/graphviz_layout">Download DOT layout</a> ], 
[ <a href="../Export/JSON">Download JSON model</a> ], 
[ <a href="{{ = session.graphviz_image }}">Download picture</a> ]

<div id=Controls>
	<input id=ShowBooleBoxes type=checkbox onClick="ChangeVisibility(event);" checked> Show boolean network boxes
	<input id=ContinuousIteration type=checkbox checked onClick="Iterate();"> Iterate ...
	<input id=Delay type=text value='120' style='width:50px;' />ms
	<br/>

	<form name=main action="{{=URL(r=request, c='Import', f='BooleanNet')}}" method=POST enctype="multipart/form-data">
		<select name=Model onChange='submit();'>
			<option value='default'>default</option>
			<option value='basic'>Simple network</option>
			<option value='detailed'>Detailed network</option>
			<option value='paper'>Paper</option>
		</select>
		<input type=hidden name=Layouter value=graphviz />
		<input type=submit value="Load" />
		<input type=button value="Reset" onClick="Reset();" />
		<input type=button value="Iterate once" onClick="Stop(); Iterate();" />
		<input type=button value="Stop" onClick="Stop();" />
	</form>
	<label id='Progress' style='color:green; font-weight:bold;'></label>
	<label id='Steps' style='color:blue; font-weight:bold; float:right;'>0</label>
</div>

<br/>
Click the nodes to change their respective state. State-of-the-art browser required (Chrome or Firefox; not Internet Explorer). SVG support required. JavaScript needs to be enabled.

<embed name=network id=network src="{{ = session.graphviz_image }}" />
 
<script>
	function AutoLoad() {
		network = document.getElementById('network');
		src = network.src.substr(network.src.length-4, 4);
		if ( src == 'None' ) document.main.submit();
		}

	window.setTimeout('AutoLoad();', 200);
	window.setTimeout('Reset();', 400);
	window.setTimeout('Iterate();', 1000);
</script>

