{{extend 'content.html'}}

<style>
	#Controls		{
				border:			1px solid black;
				position:		absolute;
				top:			-10%;
				right:			1%;
				z-index:		+5;
				background-color:	white;
				opacity:		1;
				}

	#network		{
				border:			none;
				position:		absolute;
				top:			15%;
				left:			1%;
				width:			98%;
				height:			83%;
				}

</style>

<script src="../static/BooleanNet/Simulator.js"></script>
<script>
	// settings
	green = '#10d010';
	red = '#d01010';
	yellow = '#f4fd01';
	black = '#000000';
	blue = '#7474cf';
	active = green;
	inactive = '#ffffff';
	cyclic_attraktor = '#f9f883';

	// input, provided by the server
	BooleanNetwork = '{{try:}}{{ = XML(session.bioGraph.BooleanNetwork.replace('\n', '\\n\'\n+\'')) }}{{except:}}{{pass}}';
	Nodes = [ {{=XML(Nodes)}} ];
	update_rules = { {{=XML(updateRules)}} };

	// initialize, prepare for simulation
	initialize();

{{ = XML(ScenarioFunctions) }}
</script>

<div id=Controls>
	<input type=button onClick='javascript:window.location.href="../Import/BooleanNet";' value="Import another network" />
	<br/>

	<input type=button onClick='ViewPython();' value="View Python source"/>
	<input type=button onClick='EditNetwork();' value="Edit network" />
	<br/>
	<input type=button onClick='Preferences();' value="Edit simulation preferences" />
	<br/>

	&nbsp;Delay between iteration steps: <input id=Delay type=text value='200' style='width:50px; text-align:right;' /> ms
	<br/>

	&nbsp;Available scenarios:
	<select name=Scenario onChange="selectScenario(event);">
		<option value="null;" selected></option>
{{ = XML(ScenarioOptions) }}
	</select>
	<input type=button value="(Plot)" />
	<br/>

	<input type=button value="Reset statespace" onClick="Reset();" />
	<input type=button value="Simulate" onClick="Iterate();" />
	<br/>
	<input type=button value="Find attractors" onClick="FindAttractors();" />
	<br/>

	&nbsp;<label id='Progress' style='color:green; font-weight:bold;'></label>
	<label id='Steps' style='color:blue; font-weight:bold; float:right;'>0</label>
</div>

<label id=debug></label>

<img name=preview id=preview src="{{ = session.graphviz_image }}" style="width:100px; height:100px;"/>
<object type="image/svg+xml" name=network id=network data="{{ = session.graphviz_image }}" onLoad="svg=this.contentDocument; graph=svg.getElementById('graph1'); installSVGonClickListeners(); Reset(); Iterate();"></object>
<script>
	function AutoLoad() {
		if ( document.getElementById('network').contentDocument.URL == 'about:blank' )
			window.location.href='../Import/BooleanNet';
		}
	window.setTimeout('AutoLoad();', 1000);
</script>
<br/>

Click the nodes to change their respective state.
Press Ctrl when clicking to fix or release a node.
State-of-the-art browser required (Chrome or Firefox; not Internet Explorer).
SVG support required. JavaScript needs to be enabled.

