controls_template = "
	<table>
		<tr>
		<td>
			Import network:
			<br/>
			<select size=3 style="width:220px;">
			</select>
			<br/>
			<input type=button value="Load"/>
			<input type=file value="" onchange="Import(event);"/>

			<br/>

			<input type=button onClick='ViewPython();' value="View Python source"/>
			<input type=button onClick='EditNetwork();' value="Edit network" />
			<br/>
			<input type=button onClick='Preferences();' value="Edit simulation preferences" />
			<br/>

			&nbsp;Delay between iterations: <input id=Delay type=text value='200' style='width:50px; text-align:right;' /> ms
			<br/>
			<input type=button value="Simulate" onClick="Iterate();" />
			<input type=button value="Find attractors" onClick="FindAttractors();" />
		</td>
		<td>
			Current network state:<br/>
			Load: <input type=file value="Load" onchange="LoadState(event);"/>
			<br/>
			<input type=button value="Save" onclick="SaveState();"/>
			<input type=button value="Compare" onclick="CompareState();" />
			<br/>
			<select size=3 style="width:220px;">
			</select>
			<br/>
			<input type=button value="Apply" onclick="ApplyState();" />
			<input type=button value="Reset" onclick="ResetState();" />
			
		</td>
	</tr>
	<tr>
		<td colspan=2>
			&nbsp;<label id='Progress' style='color:green; font-weight:bold;'></label>
			<label id='Steps' style='color:blue; font-weight:bold; float:right;'>0</label>
		</td>
	</tr>
	</table>
";

var template = Handlebars.compile( $("#entry-template").html() );
